<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:neo4j="http://www.springframework.org/schema/data/neo4j"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
            http://www.springframework.org/schema/data/neo4j http://www.springframework.org/schema/data/neo4j/spring-neo4j-2.1.xsd
       ">

    <context:spring-configured/>
    <context:annotation-config/>

    <!-- REST Connection to Neo4j server -->
    <!--<bean id="restGraphDatabase" class="org.springframework.data.neo4j.rest.SpringRestGraphDatabase">-->
        <!--<constructor-arg value="http://localhost:7474/db/data/" />-->
    <!--</bean>-->

    <!-- local store -->
    <bean id="graphDatabaseService" class="org.neo4j.kernel.EmbeddedGraphDatabase"
          destroy-method="shutdown">
        <constructor-arg index="0" value="target/tscore.db" />
    </bean>

    <!-- Transaction mode for Neo4j -->
    <tx:annotation-driven mode="proxy" transaction-manager="neo4jTransactionManager"/>

    <!-- Neo4j configuration (creates Neo4jTemplate) -->
    <neo4j:config graphDatabaseService="graphDatabaseService" />

    <!-- Neo4j Repositories -->
    <neo4j:repositories base-package="org.tscore.trust.service.repository" />

    <!-- Conversion Services for Neo4j -->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="org.tscore.trust.model.score.TrustScoreToStringConverter"/>
                <bean class="org.tscore.trust.model.score.StringToTrustScoreConverter"/>
            </set>
        </property>
    </bean>

    <!-- Service Beans -->
    <bean id="actorService" class="org.tscore.trust.service.impl.ActorServiceImpl" />
    <bean id="subjectService" class="org.tscore.trust.service.impl.SubjectServiceImpl" />
    <bean id="endorsementService" class="org.tscore.trust.service.impl.EndorsementServiceImpl" />

    <!-- Inject the Service Beans into our API models -->
    <context:component-scan base-package="org.tscore.web.lib.controller"/>

</beans>